<div class="container-fluid">
  
    <div class="row">
        <div class="col-12" style="background:#273443">
            <div style="margin-bottom:10px;margin-top:40px;color:white;font-size:24px;font-weight:600;width:100%;text-align:center">
                Descarga la app y se parte de nuestra comunidad
            </div>  
          <div style="width:100%;display:flex;align-items:center;justify-content:center">
            <div style="display:flex;align-items:center">
              <img src="assets/google.png" style="width:200px">
              <!-- <div style="margin-left:10px;font-size:30px;font-weight:600;color:white">
                joopiter
              </div> -->
            </div>
          </div>  
          <div style="margin-bottom:40px;color:white;font-size:16px;width:100%;text-align:center">
              Simon Bolivar 802, Valdivia, Chile
              +56 9 3627 1323
          </div>  
        </div>
      </div>
  
  </div>
  
  
  
  
  
  
  
  
 
  
  