<div class="container-fluid">

  <div class="row">


    <div class="col-sm-12 col-lg-12" style="background:#fff;">

      <div class="row">

        <div class="col-sm-12 col-lg-4 offset-lg-2" style="background:#fff;">
          <div style="padding:50px;padding-top:250px;padding-right:10px">
            
            <div style="font-size:30px;color:#555;text-align:center">
              Simple. Secure.
                Reliable messaging.
            </div>
            <div style="color:#999;margin-top:10px;font-size:16px;text-align:center">
              <div style="width:85%;display:inline-block">
                  With WhatsApp, you'll get fast, simple, secure messaging and calling for free*, available on phones all over the world.
              </div>

              <a (click)="masInfo()">
                <div
                  style="font-weight:700;text-align:center;margin-top:20px;color:white;background:#ffdd33;border:0px solid #bbb;border-radius:35px;width:100%;padding:15px;font-size:16px">
                  OBTENER MÁS INFORMAICIÓN
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-lg-5 offset-lg-1" style="padding-top:100px;padding-bottom:120px;">
              <img src="assets/localhost_8100_(Galaxy S5) (2).png"
                style="box-shadow: 0 0 10px rgba(115,115,115,0.75);width:100%">
        </div>

      </div>

    </div>




    <div class="col-sm-12 col-lg-6" >
      <div style="background:#faf7eb;">

      <div style="padding:15px;padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%;text-align:center">
          TU TIENDA
        </div>
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
          Joopiter app
        </div>
        <div style="width:100%;color:#555;margin-top:15px;font-size:14px;text-align:center">
          <div style="width:85%;display:inline-block">
            ¿Te gustaria tener presencia Online?
            Joopiter es tu plataforma.
            ¡Es una app que abarca todo! muy bien organizada y con secciones completas para cada estilo de tienda.
          </div>
        </div>
        <div style="color:#555;font-size:14px">
          <div style="margin-top:30px">
            &ndash; Te puedes crear un catálogo de productos o servicios (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; Puedes mostrar tu información de contacto y tu ubicación en el mapa (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Aceptas mascotas en tu tienda? ¿Se puede pagar con tarjeta? responde todo esto y más
            para que tus clientes lo sepan (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Comisiones? ¡Claro! Solo si obtienes ventas a través de la app y es opcional.
          </div>
        </div>
      </div>
      <div style="margin-top:20px;width:100%;display:flex;justify-content:center;align-items:center">
        <div style="overflow:hidden;width:300px;height:270px">
          <img src="assets/localhost_8100_(Galaxy S5) (2).png"
            style="box-shadow: 0 0 30px rgba(115,115,115,0.75);width:300px">
        </div>
      </div>
    </div>

    </div>

    <div class="col-sm-12 col-lg-6" >
      <div style="background:#d0e9ea">

      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%;text-align:center">
          MEDIO SOCIAL
        </div>
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
          Comodidad
        </div>
        <div style="width:100%;color:#555;margin-top:15px;font-size:14px;text-align:center">
          <div style="width:75%;display:inline-block">
            ¿Te imaginas muchas personas visitando tu tienda? Bueno.. Esa es la idea!... Los usuarios pueden explorar las tiendas
            desde su casa o trabajo. Puedes mostrar tu ambiente, tus trabajos... Los usuarios pueden evaluar tu tienda, dejar comentarios e historias... 
          </div>
        </div>

        <div style="margin-top:30px;width:100%;display:flex;justify-content:center;align-items:center">
          <div style="position:relative">
            <img src="assets/localhost_8100_(Galaxy S5) (8-a).png" style="border:1px solid #eee;width:270px">
            <img src="assets/s01.png" style="position:absolute;top:-50px;right:-30px;border:0px solid #eee;width:50px">
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="col-sm-12 col-lg-12" >
      <div style="height:20px"></div>
      </div>

    <div class="col-sm-12 col-lg-6" >
      <div style="background:#f4f9fc;">

      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%;text-align:center">
          GANA SEGUIDORES
        </div>
       
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
            Tu trabajo
          </div>
          <div style="width:100%;color:#555;margin-top:15px;font-size:14px;text-align:center">
            <div style="width:75%;display:inline-block">
                Muestra tus trabajos a todos los usuarios de la app. Es muy facil crear una galería exclusiva para tus nuevas
                creaciones..
            </div>
          </div>
      </div>
      <div style="margin-top:20px;margin-bottom:40px;width:100%;display:flex;justify-content:center;align-items:center">
          <img src="assets/a1.png" style="margin-top:0px;border: 0px solid oldlace;width:280px;transform: rotate(20deg);">
      </div>
      <div style="height:40px"></div>
    </div>

    </div>


    <div class="col-sm-12 col-lg-6" >
      <div style="background:#f8f8f8">

      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%;text-align:center">
          PROMOCIONES
        </div>
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
           Agenda, Paquetes y Cupones
          </div>
          <div style="width:100%;color:#555;margin-top:15px;font-size:14px;text-align:center">
            <div style="width:75%;display:inline-block">
                ¡Tenemos diferentes formas de hacer compras online! Desde cupones, paquetes y promociones hasta
                agendar horas o programar citas. Explora nuestras funcionalidades y capta nuevos clientes.
            </div>
          </div>        
      </div>
      <div style="margin-top:20px;margin-bottom:40px;width:100%;display:flex;justify-content:center;align-items:center">
        <img src="assets/a1.png" style="margin-top:0px;border: 0px solid oldlace;width:280px;transform: rotate(20deg);">
      </div>
      <div style="height:20px"></div>
    </div>

    </div>



    <div class="col-lg-6 offset-lg-3" style="background:white">
      <div style="padding-top:150px;margin-bottom:30px;width:100%;">
        <div style="font-size:36px;font-weight:700;color:#555;width:100%;text-align:center">
          ¿Eres comercio y estás interesado? ¡Contáctanos!
        </div>
      </div>
    </div> 

    <div class="col-lg-4 offset-lg-4" style="background:white">
      <div style="width:100%;margin-bottom:170px">
        <div>
          <input type="text" [(ngModel)]="nombre"
            style="color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:18px"
            placeholder="Nombre" />
          <hr style="padding:0px;margin:0px">
        </div>
        <div>
          <input type="text" [(ngModel)]="email"
            style="margin-top:30px;color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:18px"
            placeholder="Tu dirección de email" />
          <hr style="padding:0px;margin:0px">
        </div>

        <div>
          <input type="tel" [(ngModel)]="telefono"
            style="margin-top:30px;color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:18px"
            placeholder="Tu teléfono" />
          <hr style="padding:0px;margin:0px">
        </div>

        <a (click)="masInfo()">
          <div
            style="font-weight:700;text-align:center;margin-top:20px;color:white;background:#ffdd33;border:0px solid #bbb;border-radius:5px;width:100%;padding:15px;font-size:16px">
            OBTENER MÁS INFORMAICIÓN
          </div>
        </a>
      </div>
    </div>





  </div>





</div>