<div
  style="margin-top:20px;padding-left:15px;padding-right:15px;font-weight:600;color:#444;font-size:20px;display:flex;align-items:center;justify-content:space-between">
  <div>
    <img src="assets/logo.png" style="width:50px;">
    Joopiter
  </div>

  <!-- <div style="font-size:16px;color:coral">
    + app valdiviana
  </div> -->

</div>

<div style="width:100%;padding:15px;">

  <div style="display:inline-block;border:1px solid #eee;padding:20px">
    <h6>¡Excelente!</h6>

    Te contactaremos para indicarte los
    pasos siguientes y ayudarte en el proceso.

    

  </div>
</div>










<!-- <div
  style="margin-top:20px;padding-left:15px;padding-right:15px;font-weight:600;color:#444;font-size:20px;display:flex;align-items:center;justify-content:space-between">
  <div>
    <img src="assets/logo.png" style="width:50px;">
    Joopiter
  </div>

  <div style="font-size:16px;color:coral">
    + app valdiviana
  </div>

</div>

<div style="width:100%;padding:15px;">

  <div style="display:inline-block;border:1px solid #eee;padding:20px">
    <div style="font-size:26px;color:#555">
      Gracias por contactarnos y ver que somos los mejores en
      <span style="color:coral">Joopiter app 2019</span>

    </div>

    <div style="font-size:16px;margin-top:20px;color:#666">
      Te enviaremos un email para entregarte información
      detallada y si gustas indicarte los pasos para abrir tu tienda en la App.
    </div>
    <div style="margin-top:25px;width:100%;text-align:center;font-size:14.5px;color:#666">
      Gracias,
    </div>
    <div style="width:100%;text-align:center;font-size:18px;margin-top:0px;color:#555">
      El equipo de Joopiter
    </div>
  </div>
</div> -->