<div style="padding:200px;color:#333;padding-top:50px">
  Buenas noches,

  <div style="margin-top:20px">
    Bienvenidos a Joopiter, tu vitrina online!
  </div>

  <div style="margin-top:20px">
    Estamos lanzando una plataforma web para locales
  </div>


  <div style="margin-top:20px;font-size:16px;font-weight:500">
    Qué es gratis?
  </div>
  <div>
    - Crear un catalogo de servicios o productos
  </div>
  <div>
    - Puedes crear una galería
  </div>
  <div>
    - Agregar datos de contacto (telefono, dirección, website)
  </div>
  <div>
    - Mostrar tu tienda en el mapa
  </div>
  <div>
    - Tenemos una agenda que puede programar semanalmente
    con su tiempo disponible
  </div>

  <div style="margin-top:20px;font-size:16px;font-weight:500">
      Qué se puede hacer?
    </div>
    <div>
        - Lanzar promociones de sus servicios
      </div>
      <div>
        - Puedes crear una galería
      </div>



  <div style="margin-top:20px;font-size:16px;font-weight:500">
    Activas las ventas si deseas!
  </div>

  <div>
    - Si quieres vender cupones o gift cards por nuestra plataforma
    tenemos una tarifa de 10% de comisión.
  </div>
  <div>
    - Por ejemplo si vende un servicio de $10.000, nosotros retenemos $1.000 y le entregamos $9.000
  </div>





</div>