<!-- <div style="padding:50px">
  <input type="text" [(ngModel)]="mensaje" />
  <button class="btn btn-primary" (click)="goToLink()" type="submit">
    Whatsapp
  </button>
</div> -->


<!-- <div style="background:rgb(87, 87, 87, 0.1);background-position: 50% 50%;background-image:url(assets/01.jpg);width:100%;height:600px;">
</div> -->

<div style="position:relative">




  <!-- <div style="position:absolute;top:0px;left:0px"> -->
    <img src="assets/b01.jpg" style="width:100%;height:650px;object-fit:cover;filter: contrast(60%)">

  <!-- </div> -->

 
        <div style="position:absolute;top:0px;left:0px;width:100%;display:flex;align-items:center;justify-content:space-around">
          <div style="display:flex;align-items:center">
            <img src="assets/logo.png" style="width:70px">
            <div style="margin-left:10px;font-size:40px;font-weight:600;color:black">
              joopiter
            </div>
          </div>

          <div style="display:flex">
            <div style="margin-right:30px;font-size:16px;color:#555;font-weight:500">
              Funciones
            </div>
            <div style="margin-right:30px;font-size:16px;color:#555;font-weight:500">
              Categorias
            </div>
            <div style="margin-right:0px;font-size:16px;color:#555;font-weight:500">
              Capturas
            </div>
          </div>
        </div>
    

  <div style="position:absolute;top:100px;left:200px">
    <div style="width:600px;color:white;font-size:40px;font-weight:600;padding:30px">
      ¿No te gustaria mostrar tu local en una app movil?
    </div>
    <div style="width:600px;color:white;font-size:24px;font-weight:600;padding:30px">
      Nosotros podemos ayudarte
    </div>
    <div style="padding:30px">
      <div
        style="width:200px;text-align:center;color:white;font-weight:600;background:orangered;border-radius:15px;padding:5px">
        INSCRIBETE
      </div>
    </div>
  </div>
  <div style="position:absolute;right:240px;top:80px">
    <img src="assets/ee.jpg" style="height:500px">
  </div>
</div>


<div style="width:100%;height:700px;padding-bottom:40px">
  <div style="margin-top:50px;width:100%;display:flex;align-items:flex-start;justify-content:center">
    <div style="margin-top:20px">
      <div style="margin-top:20px;display:flex;align-items:center">
          <div style="width:50px;height:50px;border-radius:50%;background:orangered"></div>
        <div style="margin-left:5px;font-size:16px;color:#333;font-weight:500">
          Catologos
          <div style="font-weight:400;width:200px;color:#888;font-size:14px">
              Un poco de texto para complementar todo y mas
            </div>
        </div>
      </div>

      <div style="margin-top:40px;display:flex;align-items:center">
          <div style="width:50px;height:50px;border-radius:50%;background:orangered"></div>
        <div style="margin-left:5px;font-size:16px;color:#333;font-weight:500">
          Catologos
          <div style="font-weight:400;width:200px;color:#888;font-size:14px">
              Un poco de texto para complementar todo y mas
            </div>
        </div>
      </div>

      <div style="margin-top:40px;display:flex;align-items:center">
          <div style="width:50px;height:50px;border-radius:50%;background:orangered"></div>
        <div style="margin-left:5px;font-size:16px;color:#333;font-weight:500">
          Catologos
          <div style="font-weight:400;width:200px;color:#888;font-size:14px">
              Un poco de texto para complementar todo y mas
            </div>
        </div>
      </div>

      <div style="margin-top:40px;display:flex;align-items:center">
          <div style="width:50px;height:50px;border-radius:50%;background:orangered"></div>
        <div style="margin-left:5px;font-size:16px;color:#333;font-weight:500">
          Catologos
          <div style="font-weight:400;width:200px;color:#888;font-size:14px">
              Un poco de texto para complementar todo y mas
            </div>
        </div>
      </div>
      
    
    </div>
    <div>
        <img src="assets/02.svg" style="height:500px">
    </div>
    <div>
        <div style="display:flex">
            <div style="width:50px;height:50px;border-radius:50%;background:orangered"></div>
          <div style="margin-left:5px;font-size:16px;color:#333">
            Catologos
          </div>
        </div>
      
      </div>
  </div>

</div>

<div style="width:100%;height:500px;background:slateblue">
  </div>

