<div id="navbar" #contenedor class="container-fluid"
  style="transition: top 0.3s;z-index:100;position:fixed;top:0xp;left:0px;">

  <div class="row" style="background:darkorange;">
    <div class="col-12">
      <div style="height:70px;display:flex;align-items:center;justify-content:space-around">
        <div style="display:flex;align-items:center">
          <img src="assets/logo.png" style="width:50px;padding:3px;border-radius:5px;background:white">
          <div style="margin-left:10px;font-size:25px;font-weight:700;color:#fff">
            joopiter
          </div>
        </div>
        <div>
          <i class="fas fa-align-justify" style="color:white;font-size:22px"></i>
        </div>
      </div>
    </div>
  </div>

</div>


<div style="height:50px"></div>

<div style="padding:10px">

  <div class="titulo-principal">
    ¿Cómo la Geolocalización y el Geofencing me ayudan a aumentar las ventas? Con casos de uso
  </div>


  <div class="parrafo">
    Supongamos que te gusta muchísimo una cafetería en la siguiente calle de tu trabajo, y dos veces por semana vas,
    para
    disfrutar de un Frappuccino, tu favorito. Luego de 6 meses trabajando cerca de allí, cambias de trabajo y queda al
    otro lado de la ciudad. La Cafetería te queda muy lejos para visitarlo tan seguido como antes y buscas opciones más
    cerca de tu nuevo trabajo, cuando repente <span class="negrita"> ¡Notificación de la Cafetería!</span> Dice que si
    los visitas pronto, tendrás un
    cupón de descuento. Como para ti tienen el mejor Frapuccino de la ciudad, haces el esfuerzo y regresas al café con
    una
    de tus nuevas compañeras del trabajo que luego de probar el café queda encantada y piensa en que sería buena idea ir
    regularmente.
  </div>


  <div class="parrafo">
    Ahora seguro piensas: Que coincidencia que justo <span class="negrita"> te llegará una notificación </span> de La
    Cafetería, ¿Cómo sabrán que solía
    ir más a menudo? ¿Cómo puedo crear notificaciones para mis clientes justo cuando dejan de asistir a mi
    emprendimiento?
    A esta estrategia del Marketing que cada día está aumentando las ventas de las pymes se llama <span class="negrita">
      Geolocalización y
      Geofencing.</span> No, la Cafetería no tiene una bola de cristal para saber cuando estabas pensando dejar de ir.
    Simplemente
    uso el <span class="negrita"> Geofencing</span> para saber cuando tenías tiempo sin estar <span class="negrita">
      dentro del perímetro </span> de La Cafetería.
  </div>

  <div class="parrafo">
    En este artículo te explicaremos cómo el uso del Geofencing te ayuda a generar <span class="negrita"> más ventas
    </span> y <span class="negrita"> aumentar la fidelidad de
      tus clientes.</span> Así como varias formas de usarlo y una herramienta.
  </div>

  <div style="text-align:center;margin-top:30px;margin-bottom:30px">
    <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1559547418/tools/Geofencing-Imagen-1.jpg.jpg"
      style="width:70%">

  </div>


  <div class="sub-titulo">
    ¿Qué es el Geofencing?
  </div>

  <div class="parrafo">
    Es una estrategia de Mobile Marketing que utiliza el GPS para cercar o geolocalizar un espacio geográfico concreto
    de
    forma virtual. Una geovalla es un perímetro virtual de un lugar geográfico específico, que bien puede ser de las
    cuadras cercanas a tu negocio, o incluso de una ciudad completa.
  </div>

  <div class="parrafo">
    Básicamente el Geofencing permita <span class="negrita">recopilar información</span> de tus clientes, para saber
    cuando entran, salen
    o se
    mantienen en <span class="negrita">áreas geográficas específicas</span>, llamadas <span
      class="negrita">geofences</span>.
  </div>

  <div class="sub-titulo">
    ¿Qué son los Geofences?
  </div>

  <div class="parrafo">
    Es un perímetro virtual que delimita un área geográfica real. Por eso cuando dejaste de estar en las calles cercanas
    a
    La Cafetería, te enviaron una Promoción para animarte a volver.
  </div>

  <div class="sub-titulo">
    ¿Para que nos sirve?
  </div>

  <div class="parrafo">
    Al tener la información del Comportamiento que tienen nuestros clientes, podemos generar acciones concretas para que
    sigan haciendo uso de nuestros productos y servicios.
  </div>

  <div class="sub-titulo">
    Algunos Casos de Uso
  </div>

  <div class="parrafo">
    Así como La Cafetería lo utilizó para enviarte una notificación cuando según tu comportamiento evidenció que no
    estabas recurriendo a las cercanías del negocio, el Geofencing tiene muchísimos usos para no solo aumentar la
    fidelidad de tus clientes, sino también y lo más importante generar mayor número de ventas.
  </div>


  <div class="sub-titulo">
    1. Promociones y lanzamientos de nuevos productos
  </div>

  <div class="parrafo">
    Si eres una peluquería y uno de tus clientes se encuentra a varias calles, le puede llegar una <span
      class="negrita">notificación Push
      de tu nueva línea</span>
    de Shampoos que están probando de manera gratuita, así si tu cliente además de cerca de la Peluquería está
    libre, puede ir a probarlo y así <span class="negrita">generas más tráfico</span> a tu Peluquería.
  </div>

  <div class="parrafo">
    Así si uno de tus clientes se encuentra unas calles cerca de tu local, puede ver, por ejemplo, <span
      class="negrita">los beneficios de
      tus
      servicios o productos.</span> De esta manera la aplicación Joopiter, ayuda a muchos emprendedores a que consigan
    mayor número
    de clientes potenciales, mostrando los mejores locales cerca de sus usuarios justo en el momento en que se
    encuentran
    cerca de ellos. De esta manera aceleras el proceso de venta.
  </div>

  <div class="sub-titulo">
    2. Recordatorios Amistosos
  </div>

  <div class="parrafo">
    Por ejemplo, si tienes un lavado de carros, para tus clientes será muy útil y creeme que te lo agradecerán
    muchísimo,
    si al estar cerca de tu Autolavado, les llega la notificación de que su auto está listo. Eso les hará sentir
    <span class="negrita"> compromiso y responsabilidad </span> de parte de tu empresa y querrán volver, por el buen
    servicio prestado.
  </div>

  <div class="parrafo">
    Cuando dejaste de ir La Cafetería que queda cerca de tu antiguo trabajo, también usaron un <span
      class="negrita">recordatorio
      amistoso</span>, con
    el uso de un <span class="negrita">incentivo</span> para que volvieras a frecuentar La Cafetería. Es una muy buena
    estrategia cuando
    notas que un
    cliente ha dejado de utilizar tus servicios.
  </div>

  <div class="sub-titulo">
    3. Cómo encontrarte
  </div>

  <div class="parrafo">
    Sí por ejemplo tu emprendimiento es una venta de galletas, que están disponibles en varios locales, como panaderías,
    cafeterías entre otros. Puedes enviar Notificaciones a tus clientes, cada vez que estén cerca de uno de los lugares
    donde venden tus galletas e invitarlos a disfrutarlas. Así, los animas a consumir tu producto y te generan más
    ventas
    directamente.
  </div>

  <div class="parrafo">
    Con Joopiter, por ejemplo, también puedes gozar de estos beneficios, ya que le muestra los usuarios, donde estás y
    cómo contactarte. Así como también puede brindarle más detalles de tus servicios a los usuarios de la aplicación.
  </div>

  <div class="parrafo">
    Estos como lees, son algunos de los usos que tiene el Geofencing para los emprendedores, cómo por medio de las
    Aplicaciones Móviles, generamos más ventas, aumentamos el tráfico en nuestros negocios y mejoramos la fidelidad de
    nuestros clientes y nuestra relación con ellos. También existen opciones como Joopiter, sí aún no tienes los
    recursos
    para crear tu propia app, que te ayudan a posicionarte dentro de tu ciudad, mostrando qué ofrecer, qué promociones
    tienes y además las reseñas de tus clientes felices en el momento justo que los usuarios están cerca de ti.
  </div>

</div>



<div style="width:100%;text-align:center;margin-top:20px">
  <div (click)="goJoopiter()"
    style="font-size:22px;display:inline-block;padding:10px;padding-left:30px;padding-right:30px;border-radius:7px;background:limegreen;color:white">
    Joopiter
    <i class="fas fa-arrow-right" style="color:white;margin-left:10px;font-size:18px"></i>
  </div>
</div>

<div style="height:50px"></div>