<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 col-lg-6" style="background:#faf7eb;">
      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:14px;color:#999;width:100%;text-align:center">
          TU TIENDA
        </div>
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
          Joopiter app
        </div>
        <div style="width:100%;color:#555;margin-top:10px;font-size:14px;text-align:center">
          <div style="width:85%;display:inline-block">
            ¿Te gustaria tener presencia Online?
            Joopiter es la plataforma ideal para mostrar tu tienda.
            ¡Es una app que abarca todo! muy bien organizada y con secciones completas para cada estilo de tienda.
          </div>
        </div>
        <div style="color:#555;font-size:14px">
          <div style="margin-top:30px">
            &ndash; Te puedes crear un catálogo de productos o servicios (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; Puedes mostrar tu información de contacto y tu ubicación en el mapa (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Aceptas mascotas en tu tienda? ¿Se puede pagar con tarjeta? responde todo esto y más
            para que tus clientes lo sepan (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Comisiones? ¡Claro! Solo si obtienes ventas a través de la app y es opcional.
          </div>
        </div>
      </div>
      <div style="margin-top:20px;width:100%;display:flex;justify-content:center;align-items:center">
        <div style="overflow:hidden;width:300px;height:270px">
          <img src="assets/localhost_8100_(Galaxy S5) (2).png"
            style="box-shadow: 0 0 30px rgba(115,115,115,0.75);width:300px">
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6" style="background:#d0e9ea">
      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:14px;color:#999;width:100%;text-align:center">
          MEDIO SOCIAL
        </div>
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
          Comodidad e historias de usuarios
        </div>
        <div style="width:100%;color:#555;margin-top:10px;font-size:14px;text-align:center">
          <div style="width:85%;display:inline-block">

            Nos enfocamos en la interacción. Joopiter no es solo una plataforma de promociones,
            también puedes dar a conocer tus productos, tu ambiente, subir imagenes de sus servicios,
            y los usuarios pueden evaluar tu tienda, dejar comentarios y más

            <!-- Los usuarios pueden visualizar las tiendas desde su casa o desde su lugar de trabajo.
                  ,pueden evaluar o dejar comentarios,
                  pueden hacer reservaciones o citas desde la app. Queremos que exista la mayor interacción posible.
               -->
          </div>
        </div>
        <!-- <div style="width:90%;text-align:center;font-size:14px;color:rgb(65, 21, 21);margin-top:10px">
           
          </div> -->
        <div *ngIf="false" style="color:#555;font-size:14px">
          <div style="margin-top:30px">
            &ndash; Te puedes crear un catálogo de productos o servicios (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; Puedes mostrar tu información de contacto y tu ubicación en el mapa (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Aceptas mascotas en tu tienda? ¿Se puede pagar con tarjeta? responde todo esto y más
            para que tus clientes lo sepan (gratis).
          </div>
        </div>
        <div style="margin-top:30px;width:100%;display:flex;justify-content:center;align-items:center">
          <div style="position:relative">
            <img src="assets/localhost_8100_(Galaxy S5) (8-a).png" style="border:1px solid #eee;width:290px">
            <img src="assets/s01.png" style="position:absolute;top:-50px;right:-30px;border:0px solid #eee;width:50px">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6" style="background:#f4f9fc;">
      <div style="padding-top:30px;padding-bottom:30px">
        <div *ngIf="false" style="margin-bottom:20px;width:100%;display:flex;justify-content:center;align-items:center">
          <div style="position:relative;;overflow:hidden;width:300px;height:300px">
            <img src="assets/localhost_8100_(Galaxy S5) (7).png"
              style="position:absolute;bottom:0px;left:0px;box-shadow: 0 0 30px rgba(115,115,115,0.75);width:300px">
          </div>
        </div>

        <div style="font-size:14px;color:#999;width:100%;text-align:center">
          PROMOCIONES
        </div>
        <div style="font-size:26px;color:#555">
          Paquetes y cupones
        </div>
        <div style="color:#555;font-size:14px;margin-top:10px">
          Tenemos diferentes formas de hacer compras online! Desde cupones, paquetes y promociones hasta
          agendar horas o programar citas. Explora nuestras funcionalidades y capta nuevos clientes.
          <!-- Atrae nuevos clientes lanzando cupones de descuentos y
            paquetes de servicios por tiempo limitado. -->
        </div>
      </div>
      <!-- <div style="margin-bottom:20px;width:100%;display:flex;justify-content:center;align-items:center">
            <div style="overflow:hidden;height:200px;width:100%;display:flex;justify-content:center;align-items:center">
              <img src="assets/localhost_8100_(Galaxy S5) (4).png" style="margin-top:200px;border: 3px solid oldlace;width:170px;transform: rotate(20deg);">
              <img src="assets/localhost_8100_(Galaxy S5) (6).png" style="margin-top:200px;border: 3px solid oldlace;margin-left:30px;width:200px;transform: rotate(20deg);">
            </div>
          </div> -->

      <!-- <div style="margin-bottom:20px;width:100%;display:flex;justify-content:center;align-items:center">
                <img src="assets/a1.png" style="margin-top:0px;border: 0px solid oldlace;width:280px;transform: rotate(20deg);">
            </div> -->
      <div style="margin-bottom:20px;width:100%;display:flex;justify-content:center;align-items:center">
        <img src="assets/a1.png" style="margin-top:0px;border: 0px solid oldlace;width:280px;transform: rotate(20deg);">
      </div>
      <div style="height:20px"></div>
    </div>


    <div class="col-sm-12 col-lg-6" style="background:#f8f8f8">
      <!-- <div style="padding:30px">
          <div style="font-size:26px;color:#555">
            Si eres comercio y quieres más información, indicanos:
            </div>
            <input type="text" [(ngModel)]="nombre" style="margin-top:30px;color:#444;background:whitesmoke;border:1px solid #bbb;border-radius:5px;width:300px;padding:15px;padding-left:10px;font-size:16px" placeholder="Nombre"/>
            <input type="text" [(ngModel)]="email" style="margin-top:30px;color:#444;background:whitesmoke;border:1px solid #bbb;border-radius:5px;width:300px;padding:15px;padding-left:10px;font-size:16px" placeholder="Tu dirección de email"/>
          <a (click)="masInfo()">
              <div
              style="font-weight:500;text-align:center;margin-top:20px;color:white;background:orange;border:0px solid #bbb;border-radius:5px;width:300px;padding:15px;font-size:14px">
              QUIERO SUMARME
            </div>
          </a>        
        </div> -->
    </div>



    <div class="col-lg-6 offset-lg-3" style="background:white">
      <div style="padding-top:70px;margin-bottom:30px;width:100%;">
        <div style="font-size:26px;color:#555;width:100%;text-align:center">
          <!-- SI ERES COMERCIO Y QUIERES OBTENER MÁS INFORMACIÓN COMPLETA EL SIGUIENTE FORMULARIO -->
          <!-- Si eres comercio y quieres más información, indicanos: -->
          ¿Eres comercio y estás interesado? ¡Contáctanos!
        </div>

        <!-- <div style="width:100%;display:flex;justify-content:center">
                <div style="width:100%">
                    <div>
                        <input type="text" [(ngModel)]="nombre" style="margin-top:30px;color:#444;background:whitesmoke;border:1px solid #bbb;border-radius:5px;width:100%;padding:15px;padding-left:10px;font-size:16px" placeholder="Nombre"/>
                    </div>  
                    <input type="text" [(ngModel)]="email" style="margin-top:30px;color:#444;background:whitesmoke;border:1px solid #bbb;border-radius:5px;width:100%;padding:15px;padding-left:10px;font-size:16px" placeholder="Tu dirección de email"/>
        
        
                  <a (click)="masInfo()">
                      <div
                      style="font-weight:500;text-align:center;margin-top:20px;color:white;background:orange;border:0px solid #bbb;border-radius:5px;width:100%;padding:15px;font-size:14px">
                      QUIERO SUMARME
                    </div>
                  </a>
                </div>
              </div> -->


      </div>
    </div>


    <!-- <div class="col-lg-4 offset-lg-4" style="background:white">
      <div style="width:100%;margin-bottom:100px">
        <div>
          <input type="text" [(ngModel)]="nombre"
            style="color:#444;background:rgb(250, 250, 250);border:1px solid #bbb;border-radius:5px;width:100%;padding:15px;padding-left:10px;font-size:16px"
            placeholder="Nombre" />
        </div>
        <input type="text" [(ngModel)]="email"
          style="margin-top:30px;color:#444;background:rgb(250, 250, 250);border:1px solid #bbb;border-radius:5px;width:100%;padding:15px;padding-left:10px;font-size:16px"
          placeholder="Tu dirección de email" />
        <a (click)="masInfo()">
          <div
            style="font-weight:500;text-align:center;margin-top:20px;color:white;background:gold;border:0px solid #bbb;border-radius:5px;width:100%;padding:15px;font-size:14px">
            OBTENER MÁS INFORMAICIÓN
          </div>
        </a>
      </div>
    </div> -->

    <div class="col-lg-4 offset-lg-4" style="background:white">
        <div style="width:100%;margin-bottom:100px">
          <div >
            <input type="text" [(ngModel)]="nombre"
              style="color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:16px"
              placeholder="Nombre" />
              <hr style="padding:0px;margin:0px">
            </div>
          <div >
          <input type="text" [(ngModel)]="email"
            style="margin-top:30px;color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:16px"
            placeholder="Tu dirección de email" />
            <hr style="padding:0px;margin:0px">
          </div>

          <a (click)="masInfo()">
            <div
              style="font-weight:500;text-align:center;margin-top:20px;color:white;background:gold;border:0px solid #bbb;border-radius:5px;width:100%;padding:15px;font-size:14px">
              OBTENER MÁS INFORMAICIÓN
            </div>
          </a>
        </div>
      </div>





  </div>





</div>