<div id="navbar" #contenedor  class="container-fluid" style="transition: top 0.3s;z-index:100;position:fixed;top:0xp;left:0px;">

    <div class="row" style="background:darkorange;">
      <div class="col-12">
        <div style="height:70px;display:flex;align-items:center;justify-content:space-around">
          <div style="display:flex;align-items:center">
            <img src="assets/logo.png" style="width:50px;padding:3px;border-radius:5px;background:white">
            <div style="margin-left:10px;font-size:25px;font-weight:700;color:#fff">
              joopiter
            </div>
          </div>
  
          <div>
            <i class="fas fa-align-justify" style="color:white;font-size:22px"></i>
          </div>
        </div>
      </div>
    </div>
  
  </div>


<div class="container-fluid">

  <div class="row">

     


    <div class="col-sm-12 col-lg-12" style="background:#fff">

      <div class="row">

          <div class="col-sm-12 col-lg-5 offset-lg-1" style="padding-top:100px;padding-bottom:20px;background:darkorange">
         
            <div style="font-size:30px;color:#fff;text-align:center">
              Nueva plataforma para negocios
            </div>
            <!-- <div style="width:100%;text-align:center">
                <img src="assets/google.png" style="display:inline-block;width:170px">
            </div> -->
            <div style="width:100%;text-align:center">
              <img src="assets/c2.svg"
              style="display:inline-block;width:70%">
           </div>
            
        </div>

        <div class="col-sm-12 col-lg-4 offset-lg-2" style="background:#fff;">
          <div style="padding:5%;padding-top:80px;">
            
            <div style="font-size:30px;color:#555;text-align:center">
              Descarga la app
            </div>
            <div style="width:100%;text-align:center">
                <img src="assets/google.png" style="display:inline-block;width:200px">
            </div>

            <div style="color:#999;margin-top:10px;font-size:16px;text-align:center">
              <div style="width:85%;display:inline-block">
                  🤗<span style="margin-left:5px">Fideliza a tus clientes</span>
              </div>

              <!-- <a (click)="scrollDown()">
                <div
                  style="font-weight:700;text-align:center;margin-top:20px;color:white;background:#333;border:0px solid #bbb;border-radius:35px;width:100%;padding:15px;font-size:16px">
                  OBTENER MÁS INFORMAICIÓN
                </div>
              </a> -->
            </div>
          </div>

        </div>

        <!-- <div class="col-sm-12 col-lg-5 offset-lg-1" style="padding-top:100px;padding-bottom:120px;">
              <img src="assets/localhost_8100_(Galaxy S5) (2).png"
                style="box-shadow: 0 0 10px rgba(115,115,115,0.75);width:100%">
        </div> -->

      </div>

    </div>




    <div class="col-sm-12 col-lg-6" >
        <!-- <div style="border:1px solid #eee">
            <slideshow [imageUrls]="imageUrlArray" [height]="'600px'" [autoPlay]="true"></slideshow>
          </div> -->
      <div style="margin-bottom:20px">

          <!-- <a (click)="scrollDown()">
              <div
                style="font-weight:700;text-align:center;margin-top:20px;color:white;background:#333;border:0px solid #bbb;border-radius:35px;width:100%;padding:15px;font-size:16px">
                OBTENER MÁS INFORMAICIÓN
              </div>
            </a> -->
        

      <div style="padding:15px;padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%;">
          TU TIENDA
        </div>
        <div style="font-weight:400;font-size:26px;color:#222;width:100%">
          Joopiter app
        </div>
        <div style="width:100%;color:#222;margin-top:15px;font-size:17px;">
            ¿Te gustaria tener presencia Online?
            Joopiter es tu plataforma.
            ¡Es la app que abarca todo! Muy bien organizada y con secciones completas para cada estilo de tienda.
        </div>

      </div>

        <div style="border:1px solid #eee">
            <slideshow [imageUrls]="imageUrlArray" [minHeight]="'600px'" [autoPlay]="true" [backgroundSize]="'contain'"></slideshow>
          </div>
        <div style="padding:5px;color:#222;font-size:15px">
          <div style="margin-top:30px">
            &ndash; Te puedes crear un catálogo de productos o servicios (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; Puedes mostrar tu información de contacto y tu ubicación en el mapa (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; Agenda incluida (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Aceptas mascotas en tu tienda? ¿Se puede pagar con tarjeta? responde todo esto y más
            para que tus clientes lo sepan (gratis).
          </div>
          <div style="margin-top:5px">
            &ndash; ¿Comisiones? ¡Claro! Solo si obtienes ventas a través de la app y es opcional.
          </div>
        </div>


      <!-- <div style="margin-top:20px;width:100%;display:flex;justify-content:center;align-items:center">
        <div style="overflow:hidden;width:300px;height:270px">
          <img src="assets/localhost_8100_(Galaxy S5) (18).png"
            style="border:1px solid #eee;width:300px">
        </div>
      </div> -->
    </div>

    </div>

    <div class="col-sm-12 col-lg-6" >
      <div >

      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%">
          MEDIO SOCIAL
        </div>
        <div style="font-weight:400;font-size:26px;color:#222;width:100%">
          Comodidad
        </div>
        <div style="width:100%;color:#222;margin-top:15px;font-size:17px">
            ¿Te imaginas muchas personas visitando tu tienda? Bueno.. Esa es la idea!... Los usuarios pueden explorar las tiendas
            desde su casa o trabajo... Pueden evaluar tu tienda, dejar comentarios e historias... 
        </div>

        <div style="margin-top:30px;width:100%;display:flex;justify-content:center;align-items:center">
          <div style="position:relative">
            <img src="assets/localhost_8100_(Galaxy S5) (20).png" style="border:1px solid #eee;width:270px">
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="col-sm-12 col-lg-12" >
      <div style="height:20px"></div>
      </div>

    <div class="col-sm-12 col-lg-6" >
      <div style="margin-bottom:20px">

      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%">
          GANA SEGUIDORES
        </div>
       
        <div style="font-weight:400;font-size:26px;color:#222;width:100%">
            Tu trabajo
          </div>
          <div style="width:100%;color:#222;margin-top:15px;font-size:17px">
                Muestra tus trabajos a todos los usuarios de la app. Es muy facil crear una galería exclusiva para tus nuevas
                creaciones...
          </div>
      </div>
      <div style="margin-top:20px;margin-bottom:40px;width:100%;display:flex;justify-content:center;align-items:center">
          <img src="assets/a1.png" style="margin-top:0px;border: 1px solid #eee;width:280px;transform: rotate(20deg);">
      </div>
      <div style="height:40px"></div>
    </div>

    </div>


    <div class="col-sm-12 col-lg-6" >
      <div>

      <div style="padding-top:30px;padding-bottom:30px">
        <div style="font-size:12px;color:#999;width:100%;">
          PROMOCIONES
        </div>
        <div style="font-weight:400;font-size:26px;color:#222;width:100%;">
           Agenda, Paquetes y Cupones
          </div>
          <div style="width:100%;color:#222;margin-top:15px;font-size:17px;">
                ¡Tenemos diferentes formas de hacer compras online! Desde cupones, paquetes y promociones hasta
                agendar horas o programar citas. Explora nuestras funcionalidades y capta nuevos clientes.
          </div>        
      </div>


      <div style="border:1px solid #eee">
        <slideshow [imageUrls]="imageUrlArray" [height]="'600px'" [autoPlay]="true"></slideshow>
      </div>

      <!-- <div style="margin-top:20px;margin-bottom:40px;width:100%;display:flex;justify-content:center;align-items:center">
        <img src="assets/localhost_8100_(Galaxy S5) (21).png" style="margin-top:0px;border: 0px solid oldlace;width:280px;transform: rotate(0deg);">
      </div> -->
      <div style="height:20px"></div>
    </div>

    </div>



    <div class="col-lg-6 offset-lg-3" style="background:white">
      <div style="padding-top:150px;margin-bottom:30px;width:100%;">
        <div style="font-size:30px;font-weight:700;color:#333;width:100%;text-align:center">
          ¿Eres comercio y estás interesado? ¡Contáctanos!
        </div>
      </div>
    </div> 

    <div class="col-lg-4 offset-lg-4" style="background:white">
      <div style="width:100%;margin-bottom:150px">
        <div>
          <input type="text" [(ngModel)]="nombre"
            style="color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:18px"
            placeholder="Nombre" />
          <hr style="padding:0px;margin:0px">
        </div>
        <div>
          <input type="text" [(ngModel)]="email"
            style="margin-top:30px;color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:18px"
            placeholder="Tu dirección de email" />
          <hr style="padding:0px;margin:0px">
        </div>

        <div>
          <input type="tel" [(ngModel)]="telefono"
            style="margin-top:30px;color:#444;border:0px;border-bottom:0px solid #777;border-radius:0px;width:100%;padding:5px;padding-left:10px;font-size:18px"
            placeholder="Tu teléfono" />
          <hr style="padding:0px;margin:0px">
        </div>

        <a (click)="masInfo()">
          <div
            style="font-weight:700;text-align:center;margin-top:30px;color:white;background:#333;border:0px solid #bbb;border-radius:5px;width:100%;padding:15px;font-size:16px">
            OBTENER MÁS INFORMACIÓN
          </div>
        </a>
      </div>
    </div>





  </div>





</div>